<section>
  <h3 class="mb-3">I 10 giochi migliori nel tuo Paese</h3>

  <div class="mb-custom position-relative">
    <div class="row g-3 justify-content-center">
      <div *ngFor="let item of visibleItems" class="col-2">
        <div class="card bg-transparent border-0">
          <img [src]="item.img" class="card-img" [alt]="item.title" />
          <div>{{ item.title }}</div>
          <div>{{ item.price }}</div>
        </div>
      </div>
    </div>

    <button
      *ngIf="currentIndex != 0"
      class="btn btn-primary position-absolute button-carousel translate-middle-y rounded-circle carousel-btn carousel-left d-flex align-items-center justify-content-center"
      (click)="prev()"
    >
      <img src="left-chevron.png" width="42" height="42" alt="Left Chevron" />
    </button>

    <button
      class="btn btn-primary position-absolute translate-middle-y rounded-circle carousel-btn carousel-right d-flex align-items-center justify-content-center"
      (click)="next()"
      *ngIf="currentIndex == 0"
    >
      <img src="right-chevron.png" width="42" height="42" alt="Right Chevron" />
    </button>
  </div>
</section>
