<section class="mb-custom">
  <img src="hero.png" alt="hero" class="w-100 h-100 mt-4" />
  <div class="bg-white playstation-box">
    <div class="pt-4 pb-4 container">
      <div class="fs-4 mb-4 d-flex justify-content-between">
        <div>Sconti Di Primavera</div>
        <button class="btn btn-primary rounded-pill">Risparmia subito</button>
      </div>
      <div class="small">
        Rinnova la tua collezione di giochi con una nuova stagione di risparmi.
      </div>
    </div>
  </div>
</section>
<div class="container">
  <section class="mb-custom">
    <div class="row row-cols-4 g-3 justify-content-center">
      <div *ngFor="let list of gamePreviewList" class="col">
        <div class="card">
          <img [src]="list.img" class="card-img" [alt]="list.title" />
        </div>
      </div>
    </div>
  </section>
  <app-carousel [items]="carouselItems"></app-carousel>
  <app-carousel [items]="carouselItems1"></app-carousel>
  <app-carousel [items]="carouselItems2"></app-carousel>
  <app-carousel [items]="carouselItems3"></app-carousel>
</div>
<section class="mb-custom">
  <img
    src="playstation-plus.png"
    alt="Playstation Plus"
    class="w-100 h-100 mt-4"
  />
  <div class="bg-white playstation-box">
    <div class="pt-4 pb-4 container">
      <div class="fs-4 mb-4 d-flex justify-content-between">
        <div>Scopri PlayStation Plus</div>
        <button class="btn btn-primary rounded-pill">
          Maggiori informazioni
        </button>
      </div>
      <div class="small">
        Gioca a centinaia di titoli per PS5, PS4 e classici PlayStation, con il
        multigiocatore online e altri vantaggi imperdibili.
      </div>
    </div>
  </div>
</section>
<section class="container">
  <h4 class="text-center mb-5">Altri Giochi</h4>
  <div class="row row-cols-4 g-3 justify-content-center">
    <div *ngFor="let list of gameCategories" class="col">
      <div class="card">
        <img [src]="list.img" class="card-img" [alt]="list.title" />
      </div>
    </div>
  </div>
</section>
